* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;

    font-family: 'Poppins', sans-serif;
}

ul {
    position: relative;
}
ul li {
    position: relative;
    list-style: none;
    word-spacing: 10px;
}
ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 800;
    color: rgba(255, 255, 255, .1);
}

ul li a:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    background: url('https://as1.ftcdn.net/jpg/01/38/07/68/500_F_138076808_y4D6u52C27CvVUtmsXfGabrTXHfpKrk8.jpg');
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: repeat-x;
    animation: wave 2s linear infinite;
    transition: .8s;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}
ul li a:hover:before {
    width: 100%;
}

@keyframes wave {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 100px;
    }
}